<!--<app-parent></app-parent>-->
<!--<app-parent-2></app-parent-2>-->
<app-parent-service></app-parent-service>
<div style="display: none">
  <!--INTERPOLATION-->
  <!--Here we bind the value of the 'pageTitle' property in the class so here we can render whatever the value of that property is-->
  <h1>{{ pageTitle }}</h1>
  <!--PROPERTY/ATTRIBUTE BINDING-->
  <!--We bind the src attribute to d 'imgSrc' property of the class so img tag we use whatever the value of the 'imgSrc' is to render its image-->
  <img [src]="imgSrc" alt="image" />
  <!--EVENT BINDING-->
  <div>
    <!--  We execute the incrementCount() on every click of this button-->
    <button (click)="incrementCount()">Button click {{ count }} times</button>
  </div>
  <!--TWO WAY BINDING-->
  <div>
    <label>
      <!--    1) template pass d enter value from the template to the class.
  2)  The class then use the value to update itself and then pass the update value back to the template so it can be used anywhere in the dom-->
      <!--    with [(ngModel)], we copy every key stroke we type in this input field to the 'name' property in the class-->
      <input type="text" [(ngModel)]="name" />
    </label>
    <!--  And also in realtime, d class is updated and we can read the updated value of the name back in the template-->
    <p>Welcome {{ name }}</p>
  </div>
  <!--SPLIT TWO WAY BINDING-->
  <div>
    <label>
      <!-- with every keyStroke, we call d greetUser method passing $event as the update string, so the method can keep checking this strings as they are forming to perform a specific operation depending on the updated value
      -->
      <input
        [ngModel]="userName"
        (ngModelChange)="greetUser($event)"
        type="text"
      />
    </label>
    <p>Welcome {{ userName }}</p>
  </div>

  <!--GETTER AND SETTER-->
  <div>
    <label>
      <!--    we bind the getter and setter (customerName) to our ngModel-->
      <input type="text" [(ngModel)]="customerName" />
    </label>
    <p>Welcome {{ customerName }}</p>
  </div>
  <!--VIEW CHILD DECORATOR-->
  <div>
    <label>
      <!--We give ds html element a variable that the class can make use of to perform different manipulations with this element-->
      <input #nameRef type="text" [(ngModel)]="name" />
    </label>
    <!--  And also in realtime, d class is updated and we can read the updated value of the name back in the template-->
    <p>Welcome {{ name }}</p>
  </div>
</div>
